.banner {
  position: relative;
  width: 100%;
  height: 450px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/departmentBannerImages/scientific_exploration_background_800_wht.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Apply opacity here */
  z-index: -1; /* Place it behind the content */
}

.EarlHaig {
  font-size: 24px;
  font-weight: thin;
  color: black;
  text-transform: uppercase;
}

.ScienceSociety {
  font-family: "Bebas Neue", serif;
  font-size: 80px;
  margin-top: 15px;
  text-transform: uppercase;
  color: rgb(53, 53, 53);
  font-weight: 900;
  line-height: 70px;
}

.scienceDepartments {
  margin-top: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(54, 54, 54);
}

.departmentSubLink:hover {
  scale: 1.1;
  font-weight: bold;
  transition: 0.2s scale;
  cursor: pointer;
}

.affiliatedOrganizations {
  color: rgb(54, 54, 54);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 300px;
  }

  .scienceDepartments {
    font-size: 1.2rem;
  }

  .affiliatedOrganizations {
    font-size: 1.2rem;
  }
}

.creditLine {
  color: grey;
}
